ALTER TABLE monthly_reports DROP CONSTRAINT IF EXISTS monthly_reports_student_id_month_year_key; ALTER TABLE monthly_reports ADD CONSTRAINT monthly_reports_student_id_month_year_program_key UNIQUE (student_id, month, year, program_type);
